

    .header {
        background-image: url('img/header.jpg');
        background-color: #FFFFFF;
        background-size: 100%;
        width: 860px;
        height: 500px;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .header h1 {
        background-color: rgba(0, 0, 0, 0.6);
        width: 860px;
        color: #FFFFFF;
        margin: 0px;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        text-align: left;
        word-spacing: 20px;
    }

    .header a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    .header a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    .header a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    .menu {
        /* configuração de design de cada item do menu. */
        display: flex;
        flex-direction: column;
      	background-color: #ffffff2a;
        background-size: 100%;
        width: 50vw;
      	align-items: center;
        margin-left: auto;
        margin-right: auto;
        font-family: Amatic SC;
        font-size: 20px;
        line-height: 30px;
        background-color: white;
    }
  	.menu h1{
  		text-align: center;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 45px;
        color: #000000;
  	}

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 860px;
        background-color: #FFFFFF;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .onepage-restaurant {

        width: 397px;
        top: 236px;
    }

    .about h1 {
        text-align: center;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 45px;
        color: #000000;
    }

    .about p {
        padding: 5px;
        max-width: 419px;
        margin-left: auto;
        margin-right: auto;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;

        color: #000000;
    }

    .local {
        background-image: url('img/map.jpg');
        background-color: #FFFFFF;
        background-size: 100%;
        width: 860px;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        height: 532px;
    }

    .contact {
        display: flex;
        margin-left: auto;
        margin-right: auto;
     		width:860px;
        font-family: Amatic SC;
        background-color: #FFFFFF;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25.22px;
        flex-direction: column;
        align-items: center;
    }

    .contact button {
        text-align: center;
        font-size: 22px;
        background-color: rgba(45, 45, 45, 0.1);
        color: black;
        font-family: Amatic SC;
        border-color: rgba(45, 45, 45, 0.05);
        box-shadow: 0, 0, 0, 0;

        width: 680px;
        height: 50px;
    }

    .contact input {
        font-size: 22px;
        background-color: rgba(45, 45, 45, 0.05);
        color: black;
        font-family: Amatic SC;
        border-color: rgba(45, 45, 45, 0.05);
        box-shadow: 0, 0, 0, 0;

        width: 680px;
        height: 50px;
    }

    #title {
        text-align: center;
        font-size: 50px;
    }
